backend/config/firebase-service-account.json
backend/node_modules
backend/.env
backend/Backend compiled scripts.txt
backend/Environment Variables Security.md
backend/backend_compiled_system.txt
backend/compile_system.py